/* header */
#index-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.747), rgba(0, 0, 0, 0.651)), url("../image/header.jpg");
}
/* carousel */
.carousel .carousel-item {
/* add sizing here with !important */
width: 20% !important;
height: 70% !important;
}
/* overflow visible to remove cutoff */
.carousel {
  overflow: visible !important;
  margin-left: -1%;
}
/* card collection style */
.collection .collection-item {
  background-color: #253237;
}


/* pallete stuff */
.floralWhite {
  background-color: #FFFCF2;
}

.lightCyan {
  background-color: #e0fbfc;
}

.powderBlue {
  background-color: #c2dfe3;
}

.pewterBlue {
  background-color: #9db4c0;
}

.cadet {
  background-color: #5c6b73;
}

/* blue-grey darken-4 */
.gunmetal {
  background-color: #253237;
}

.textBlack {
  color: #252422;
}

.textWhite {
  color: #FFFCF2;
}
