.floralWhite {
  background-color: #FFFCF2;
}

.lightCyan {
  background-color: #e0fbfc;
}

.powderBlue {
  background-color: #c2dfe3;
}

.pewterBlue {
  background-color: #9db4c0;
}

.cadet {
  background-color: #5c6b73;
}

.gunmetal {
  background-color: #253237;
}

.textBlack {
  color: #252422;
}

.textWhite {
  color: #FFFCF2;
}
